{% load static %}
{% block content %}
<section style="background-color: #3b3b3b;" class="about_section layout_padding ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="img-box">
          <img src="{% static 'images/deco_images/SwerveSplash.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2 style="color:white">About Us</h2>
          </div>
          <p style="color:white">
            Industry is once again moving through a process of design and development. Unfortunately, there are also a few drawbacks. The very air we breathe is becoming steadily more toxic, with the electricity we need to generate to sustain our lifestyles destroying countless ecosystems. This hunger for power is pushing us as a human race to rapidly approach the point of no return.
          </p>
          <br>
          <p style="color:white">
            Renewables, IoT and Electric Vehicles, amongst others, are dramatically altering that way we cope, and how we move through life. This change means innovation, with new products and services, important regulatory changes, and the easing of everyday life. This is where Swerve comes in. Our solution to the toxic gasses released into the air, is the ease of access to electric vehicles. This, paired with renewable energy, could be the first step in beginning a reversal to climate change.
          </p>
          <br>
          <p style="color:white">
            Browse our selection of electric vehicle alternatives, or take a look at our ingenious calculator in order to find the electric vehicle that will best fit your everyday travel requirements.
          </p>
          <br>
          <h3 style="color:#61963f;">
            Swerve, a Greener Future
          </h3>
          <br>
          <p style="color:white">
            -The Unchained Team
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
{% endblock content %}
