{% extends "master/main.html" %}
{% load static %}
{% block content %}
<section class=" about_section layout_padding">
  <div class="container">
    <h1 style="text-align: center;">The People Behind Unchained</h1>
    <br>
    <div class="row">
      
      <!-- One Person -->
      <div class="col-md-6 col-lg-5">
        <div class="img-box">
          <img style="border: 10px solid #363636;border-radius: 10px;" src="{% static 'images/about/marc.jpeg' %}" alt="" />
        </div>
        <hr>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="detail-box">
            <h2 style="color:#61963f">Marc Levin</h2>
            <p style="color: #363636;">Unchained team leader and full stack developer</p>
        </div>
      </div>
      <!-- End Person -->

      

      <!-- One Person -->
      <div class="col-md-6 col-lg-5">
        <div class="img-box">
          <img style="border: 10px solid #363636;border-radius: 10px;" src="{% static 'images/about/cleve.jpg' %}" alt="" />
        </div>
        <hr>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="detail-box">
            <h2 style="color:#61963f" >Cleveland Crossling</h2>
            <p style="color: #363636;">Full stack developer</p>
        </div>
      </div>
      <!-- End Person -->

      <!-- One Person -->
      <div class="col-md-6 col-lg-5">
        <div class="img-box">
          <img style="border: 10px solid #363636;border-radius: 10px;" src="{% static 'images/about/joel.jpeg' %}" alt="" />
        </div>
        <hr>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="detail-box">
          <h2 style="color:#61963f">Joel Haag</h2>
          <p style="color: #363636;">Full stack developer</p>
        </div>
      </div>
      <!-- End Person -->

      <!-- One Person -->
      <div class="col-md-6 col-lg-5">
        <div class="img-box">
          <img style="border: 10px solid #363636;border-radius: 10px;" src="{% static 'images/about/jamie.jpeg' %}" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="detail-box">
          <h2 style="color:#61963f">Jamie Oliver</h2>
          <p style="color: #363636;">Full stack developer</p>
        </div>
      </div>
      <!-- End Person -->

    </div>
  </div>
</section>

<!-- end about section -->
{% endblock content %}
