{% extends "master/main.html" %} {% load static %}
{% block content %}
    {% load crispy_forms_filters %}
    {% load crispy_forms_tags %}
    {% load humanize %}
    <link href="{% static 'css/curtain.css' %}" rel="stylesheet"/>
    <div class="curtain">
        <div class="curtain__wrapper">
            {% if not curtain_check %}
                <input type="checkbox" id="calc_check" name="calc_check"/>
            {% endif %}
            <div class="curtain__panel curtain__panel--left">
                <div class="curtain_chain--left">
                    <img
                            src="{% static 'images/deco_images/left_chain.png' %}"
                            alt="lchain"
                    />
                </div>
            </div>
            <!-- curtain__panel -->

            <div class="curtain__content">
                {% if curtain_check %}
                    <form method="POST">
                    <h2>PLEASE FILL IN THIS FORM TO CALCULATE YOUR IDEAL VEHICLE</h2>
                    <br/>

                    {% csrf_token %}
                    {% for field in calculator_form %}
                        <div class="form-control float-left mb-2 mt-2 bg-dark text-light border-dark">
                            {{ field.label }}
                            <br>
                        </div>
                        {{ field }}
                    {% endfor %}

                    <br/>
                    <button class="curtain_button form-control cartbutton text-align-center" type="submit">Calculate</button>
                {% else %}
                    <div class="calculate_content">
                        <div id="calculating_div">
                            <h2>Calculating...</h2>
                        </div>
                        <div id="result_div" style="display: none">
                          {%if product_suggested %}
                            <h2>Our Suggestion:</h2>
                            <hr>
                           <!-- Single Product Page mimic-->
                           <section class="about_section layout_padding">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-6 col-lg-5">
                                  <div class="img-box">
                                    <img style="border: 10px solid #363636;border-radius: 10px;" src="/static/Images/{{ product_suggested.getImage }}" alt="" />
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-7">
                                  <div class="detail-box">
                                    <div class="heading_container">
                                      <h2>{{ product_suggested.name }}</h2>
                                    </div>
                                    {%if product_suggested.discount_price > 0 %} 
                                      <h5 style="color:#61963f">ON SALE!</h5>
                                    {% endif %}
                                    <p>
                                      {{ product_suggested.description }}
                                    </p>
                                    <h5 style="color:#61963f">Specs</h5>
                                    <h6>Top Speed: {{product_suggested.max_speed}} km/h</h6>
                                    <h6>Range: {{product_suggested.max_range}} km</h6>
                                    <h6>Charge Time: {{product_suggested.charge_time}} hours</h6>
                                    <br>
                                    {%if product_suggested.discount_price > 0 %}   
                                      <h6 style="color:rgb(94, 94, 94)">List Price: R<del>{{ product_suggested.price | floatformat:2 | intcomma }}</del></h6>
                                      <h5>Discount Price: </h5><h5 style="color:#61963f"> <ins>R{{product_suggested.getDiscountPrice | floatformat:2 | intcomma }}</ins></h5>
                                    {% else %}
                                    <h5>Price: </h5>
                                      <h5 style="color:#61963f">R{{ product_suggested.price | floatformat:2 | intcomma }}</h5>
                                    {% endif %}
                                    <a href="{% url 'add_to_cart'  product_suggested.pk %}"> Add To Cart </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!-- End mimic-->
                          {% else %}
                            <h2>Sorry, we could not find a suitable vehicle for you.</h2>
                          {% endif %}
                        </div>
                    </div>
                {% endif %}
                </form>
            </div>

            <div class="curtain__panel curtain__panel--right">
                <div class="curtain_chain--right">
                    <img
                            src="{% static 'images/deco_images/right_chain.png' %}"
                            alt="rchain"
                    />
                </div>
            </div>
            <!-- curtain__panel -->
        </div>
        <!-- curtain__wrapper -->
    </div>
    <!-- curtain -->

    <script>
        window.onload = function () {
            close_curtain();
            setTimeout("open_curtain()", 2000);
        };
        window.time = 0;

        function open_curtain() {
            document.getElementById("calc_check").setAttribute("disabled", false);
            document.getElementById("calc_check").checked = false;
            document.getElementById("calculating_div").style.display = "none";
            document.getElementById("result_div").style.display = "block";
            document.getElementById("calc_check").setAttribute("disabled", true);
            document.getElementById("calc_check").style.display = "none";
        }

        function close_curtain() {
            document.getElementById("calc_check").setAttribute("disabled", true);
            document.getElementById("calculating_div").style.display = "block";
            document.getElementById("result_div").style.display = "none";
            document.getElementById("calc_check").checked = true;
            document.getElementById("calc_check").setAttribute("disabled", false);
            document.getElementById("calc_check").style.display = "none";
        }
    </script>

{% endblock content %}
