{% extends 'master/main.html' %}
{% load crispy_forms_filters %}
{% load humanize %}
{% load static %}
{% block content %}

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>

                    </div>

                    {% for item in cart_items %}
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img
                                                src="{{ item.product.image.url }}"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">{{ item.product.name }}</p>
                                        <!--                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>-->
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <a href="{% url 'remove_from_cart'  item.product.pk %}">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="{{ item.quantity }}"
                                               type="number"
                                               class="form-control form-control-sm"/>

                                        <button class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <a href="{% url 'add_to_cart'  item.product.pk %}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">R {{ item.product.price | floatformat:2 | intcomma }}</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="{% url 'remove_from_cart' item.product.pk %}" class="text-danger"><i
                                                class="fa fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="text-center">Your cart is empty</h1>
                                    <br/>
                                    <a class="d-flex align-content-center justify-content-center" href="{% url 'store' %}">
                                        <div class="cartbutton">Continue Shopping</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if cart_items %}


                        <div class="card mb-4">
                            <div class="card-body p-4 d-flex flex-row">
                                <div class="form-outline flex-fill">
                                    <label class="form-label" for="form1">Sub Total:</label>
                                    <p class="float-right">R {{ cart.total_price | floatformat:2 | intcomma }}</p>
                                    <br>
                                    <label class="form-label" for="form1">VAT @ 15%:</label>
                                    <p class="float-right">R {{ cart.get_vat | floatformat:2 | intcomma }}</p>
                                    <br>
                                    <label class="form-label"for="form1">Total:</label>
                                    <p class="float-right">R {{ cart.get_final_price | floatformat:2 | intcomma }}</p>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'create_order' %}">
                                    <button type="button" class="btn btn-success btn-block btn-lg">Place Order
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock content %}