{% extends 'master/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <!--Login-->
    <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in login_form %}
                <div class="form-control  mb-2 mt-2 bg-dark text-light border-dark">
                    {{ field.label }}
                </div>

                {{ field }}

                <br>
            {% endfor %}
            <br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="{% url 'register' %}"><b>Create an account</b></a>.
        </p>
    </div>
{% endblock content %}