{% extends 'master/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                {{ category.name }}
            </h2>
        </div>
        <div class="row">
            <!-- LOOP-->
            {% for product in products %}
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="/static/Images/{{ product.getImage }}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                {{ product.name }}
                            </h6>
                        </div>
                        <h6 style="color:#61963f">R{{ product.price }}</h6>    
                        <div class="new">
                            <span>
                            New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- LOOP -->
        </div>
    </div>
        
</section>
{% endblock content %}