{% extends 'master/main.html' %} {% load crispy_forms_filters %} {% load static %} {% block content %}
    {% load crispy_forms_tags %}
    <!--Register-->
    <div class="container py-5">
        <h1 class="">REGISTER</h1>
        <form method="POST">

            {% csrf_token %}
            {% for field in register_form %}
               <div class="form-control  mb-2 mt-2 bg-dark text-light border-dark">
                {{ field.label }}
                </div>
                {{ field }}
                {% if not valid  %}
                    {{ field.error }}
                {% endif %}
                <br>
            {% endfor %}
            <button class="btn btn-primary form-control" type="submit">Register</button>
        </form>
        <br>
        {% if not valid %}
            <h2 class="row-form-errors" >Error:</h2>
            <br/>
            <alert> {{ error }} </alert>
        {% endif %}
        <p class="text-center">
            If you already have an account,<b
        ><a href="{% url 'login' %}"> login instead</a></b
        >.
        </p>
    </div>
{% endblock content %}
