{% extends "master/main.html" %}
{% load static %}
{% block content %}
<section class="shop_section layout_padding">
  <div class="container">
    <h1 style="text-align: center;">Reports</h1>
    <br>
    <div class="row">
    <div class="col-sm-6 col-xl-5">
    <h3 style="text-align: center;">All Site Sales</h3>
           <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn bg-info ">Sort by
{#                 <i class="fa fa-arrow-down" ></i>#}
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href=""> Expensive </a>
                    <a href=""> Cheapest </a>

                </div>
            </div>

        <table>
        <tr>
    <th>Customer Name   </th>
    <th>Date</th>
    <th>Price</th>
  </tr>
    <tr>
    {% for order in order %}
        <td>{{ order.customer }} </td>
        <td>{{ order.date }} </td>
        <td>{{ order.total_price }} </td>
    </tr>
    <tr>
    {% endfor %}
    </tr>
</table>
    </div>


     <div class="col-sm-6 col-xl-5">

     <h3 style="text-align: center;">Product Stock</h3>

     <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn bg-info ">Sort by
{#                 <i class="fa fa-arrow-down" ></i>#}
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href=""> Max Stock </a>
                    <a href=""> Min Stock </a>

                </div>
            </div>

        <table>

        <tr>
    <th>Product Name</th>
    <th>Stock</th>
  </tr>
    <tr>
    {% for product in product %}
        <td>{{ product.name }}  </td>
        <td>{{ product.stock }} </td>

    </tr>
    <tr>
    {% endfor %}
    </tr>
</table>
    </div>


    <div class="col-sm-6 col-xl-5">
        <h3 style="text-align: center;">General Statistics</h3>

         <table>

        <tr>
    <th>Statistic Name</th>
    <th>Statistic Value</th>
  </tr>
    <tr>
        <td>Total Products </td>
        <td>{{ product.count }}</td>

    </tr>
    <tr>
         <td>Total Orders </td>
        <td>{{ order.count }}</td>

    </tr>
             <tr>
         <td>Total Customers Registered </td>
        <td>{{ user.count}}</td>

    </tr>
</table>

    </div>



    </div>
  </div>





</section>

<!-- end about section -->
{% endblock content %}
