{% extends 'master/main.html' %}
{% load crispy_forms_filters %}
{% load humanize %}
{% load static %}
{% block content %}

<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Categories
        </h2>
      </div>
      <div class="row">
        <!-- LOOP-->
        {% for category in categories %}
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="{% url 'product_by_category' category.name %}">
              <div class="img-box">
                <img src="{{category.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{ category.name }}
                </h6>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
        <!-- LOOP -->
  </section>
  {% endblock content %}